:root {
  --primary-color: #ff8307;
  --secondary-color: #e67607e8;
  --bg-color: #8307ff;
}

* {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sunrise,
.sunset {
  color: var(--primary-color);
  padding: 10px;
  font-size: 2em;
  text-align: center;
  text-shadow: var(--secondary-color);
  width: 175px;
}

h3 {
  margin: 0;
}
